.App {
  text-align: center;
}
h1{
  margin-bottom: 5px;
  font-style: italic;
}
#signature{
  margin-top: 5px;
  font-size: 10px;
  margin-bottom: 2.5em;
  border-bottom: 2px solid gainsboro;
  padding-bottom: 10px;
}
input{
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: gainsboro;
  color: rgb(34, 42, 96);

}
table{
  margin: 10px auto;
}
ul{
  list-style: none;
}
ul button{
  padding: 0px 0px;
  margin: 0px 10px;
  background-color: rgba(0,0,0,0);
  border: solid 1px rgba(0,0,0,0);
}
li{
  margin-top: 5px;
  padding: 5px 5px;
}
#adder{
  padding: 4px 4px;
  font-weight: bold;
  color: rgb(34, 42, 96);
}
#holder{
  text-align: center;
}
button{
  cursor: pointer;
}
#whatTime{
  font-size: 0.75em;
  font-style: italic;
}
span span{
  font-weight: bold;
}